In [2]:
import pandas as pd

In [39]:
dSet=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv')

In [40]:
print(dSet)

                      date  Appliances  lights         T1       RH_1  \
0      2016-01-11 17:00:00          60      30  19.890000  47.596667
1      2016-01-11 17:10:00          60      30  19.890000  46.693333
2      2016-01-11 17:20:00          50      30  19.890000  46.300000
3      2016-01-11 17:30:00          50      40  19.890000  46.066667
4      2016-01-11 17:40:00          60      40  19.890000  46.333333
...                    ...         ...     ...        ...        ...
19730  2016-05-27 17:20:00         100       0  25.566667  46.560000
19731  2016-05-27 17:30:00          90       0  25.500000  46.500000
19732  2016-05-27 17:40:00         270      10  25.500000  46.596667
19733  2016-05-27 17:50:00         420      10  25.500000  46.990000
19734  2016-05-27 18:00:00         430      10  25.500000  46.600000

              T2       RH_2         T3       RH_3         T4  ...         T9  \
0      19.200000  44.790000  19.790000  44.730000  19.000000  ...  17.033333
1      19.200000  44.722500  19.790000  44.790000  19.000000  ...  17.066667
2      19.200000  44.626667  19.790000  44.933333  18.926667  ...  17.000000
3      19.200000  44.590000  19.790000  45.000000  18.890000  ...  17.000000
4      19.200000  44.530000  19.790000  45.000000  18.890000  ...  17.000000
...          ...        ...        ...        ...        ...  ...        ...
19730  25.890000  42.025714  27.200000  41.163333  24.700000  ...  23.200000
19731  25.754000  42.080000  27.133333  41.223333  24.700000  ...  23.200000
19732  25.628571  42.768571  27.050000  41.690000  24.700000  ...  23.200000
19733  25.414000  43.036000  26.890000  41.290000  24.700000  ...  23.200000
19734  25.264286  42.971429  26.823333  41.156667  24.700000  ...  23.200000

          RH_9      T_out  Press_mm_hg     RH_out  Windspeed  Visibility  \
0      45.5300   6.600000        733.5  92.000000   7.000000   63.000000
1      45.5600   6.483333        733.6  92.000000   6.666667   59.166667
2      45.5000   6.366667        733.7  92.000000   6.333333   55.333333
3      45.4000   6.250000        733.8  92.000000   6.000000   51.500000
4      45.4000   6.133333        733.9  92.000000   5.666667   47.666667
...        ...        ...          ...        ...        ...         ...
19730  46.7900  22.733333        755.2  55.666667   3.333333   23.666667
19731  46.7900  22.600000        755.2  56.000000   3.500000   24.500000
19732  46.7900  22.466667        755.2  56.333333   3.666667   25.333333
19733  46.8175  22.333333        755.2  56.666667   3.833333   26.166667
19734  46.8450  22.200000        755.2  57.000000   4.000000   27.000000

       Tdewpoint        rv1        rv2
0       5.300000  13.275433  13.275433
1       5.200000  18.606195  18.606195
2       5.100000  28.642668  28.642668
3       5.000000  45.410389  45.410389
4       4.900000  10.084097  10.084097
...          ...        ...        ...
19730  13.333333  43.096812  43.096812
19731  13.300000  49.282940  49.282940
19732  13.266667  29.199117  29.199117
19733  13.233333   6.322784   6.322784
19734  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [6]:
dSet.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [7]:
dSet.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [42]:
dSet.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [12]:
dSet.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [24]:
dSet.nunique()

date           19735
Appliances        92
lights             8
T1               722
RH_1            2547
T2              1650
RH_2            3376
T3              1426
RH_3            2618
T4              1390
RH_4            2987
T5              2263
RH_5            7571
T6              4446
RH_6            9709
T7              1955
RH_7            5891
T8              2228
RH_8            6649
T9               924
RH_9            3388
T_out           1730
Press_mm_hg     2189
RH_out           566
Windspeed        189
Visibility       413
Tdewpoint       1409
rv1            19735
rv2            19735
dtype: int64

In [36]:
dSet.groupby('Appliances')['Appliances'].count()

Appliances
10         9
20       343
30       723
40      2019
50      4368
        ...
890        1
900        1
910        1
1070       1
1080       1
Name: Appliances, Length: 92, dtype: int64

In [66]:
dSet1=dSet.drop(["date","lights"], axis=1)   #question 13

In [65]:
dSet1.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [67]:
#Firstly, we normalise our dataset to a common scale using the min max scaler

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_dSet1 = pd.DataFrame(scaler.fit_transform(dSet1), columns=dSet1.columns)

#feature selection, selecting which column will be the predictor/independent variable and  the dependent/target variable
features_dSet1 = normalised_dSet1.drop(columns=[ 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'])

heating_target = normalised_dSet1['Appliances']

In [69]:
#Now, we split our dataset into the training and testing dataset. Recall that wehad earlier segmented the features and target variables.

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(features_dSet1, heating_target,test_size=0.3, random_state=42)

#Training the model
from sklearn.linear_model import LinearRegression
linear_model1 = LinearRegression()

In [70]:
#fit the model to the training dataset
linear_model1.fit(x_train, y_train)

#obtain predictions
predicted_values1 = linear_model1.predict(x_test)
print(predicted_values1)

[0.02803738 0.07476636 0.03738318 ... 0.03738318 0.09345794 0.03738318]

In [71]:
#Actual vs Predicted values
comparison = pd.DataFrame({'Actual':y_test,'Predicted':predicted_values1})
comparison

         Actual  Predicted
8980   0.028037   0.028037
2754   0.074766   0.074766
9132   0.037383   0.037383
14359  0.037383   0.037383
8875   0.056075   0.056075
...         ...        ...
831    0.224299   0.224299
10993  0.046729   0.046729
11761  0.037383   0.037383
12364  0.093458   0.093458
11863  0.037383   0.037383

[5921 rows x 2 columns]

In [61]:
#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values1)
round(mae, 3)

0.0

In [64]:
#Residual Sum of sqaures(RSS)
import numpy as np

from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test,predicted_values1))
round(rmse, 3)

0.0

In [72]:
#Feature Selection and Lasso Regression
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

Lasso(alpha=0.001)

In [73]:
#comparing the effects of regularisation
def get_weights_df(linear_model1, feat, columns):

IndentationError: expected an indented block (Temp/ipykernel_13660/3841170975.py, line 2)

In [75]:
#R-squared
from sklearn.metrics import r2_score
r2_score = r2_score('T6', 'T2')
round(r2_score,3)

C:\Users\David\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  return f(*args, **kwargs)

ValueError: Unable to convert array of bytes/strings into decimal numbers with dtype='numeric'